apiVersion: v1
kind: Service
metadata:
  name: cicd-demo
  labels:
    app: cicd-demo
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
  selector:
    app: cicd-demo
